<p style="text-align:center;font-size:20px">
  Welcome To NCSU Library Booking System</p>
<% unless logged_in? %>
  <p style="text-align:center;font-size:20px">
    Please Log In
  </p>
<% end %>
</br>