<p style="text-align:center;font-size:20px" xmlns="http://www.w3.org/1999/html">
  Welcome to NCSU Library Booking System.</p>
<% unless logged_in? %>
  <p style="text-align:center;font-size:20px">
    Please log in
  </p>
<% end %>