<% provide(:title, "Search Room") %> <h1>Search Room</h1>
<%= form_tag(rooms_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search by number" %>
    <%= submit_tag "Search" %>
<% end %>


