<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>Type:</strong>
  <% if @user.authority == '0'%>
      User
  <% else %>
      Admin
  <% end %>
</p>
<p>
  <strong>Registration Time:</strong>
  <%= @user.created_at %>
</p>

